In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("supermarket.csv")

In [4]:
# tampilkan jumlah datanya 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [5]:
# tampilkan 10 data pertama 

df.head(10)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2/24/2019,11:38,Ewallet,735.60,4.761905,36.7800,8.0
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,1/10/2019,17:15,Credit card,72.52,4.761905,3.6260,7.2
9,692-92-5582,B,Mandalay,Member,Female,Food and beverages,54.84,3,8.2260,172.7460,2/20/2019,13:27,Credit card,164.52,4.761905,8.2260,5.9

In [6]:
# tampilkan 10 data terakhir 

df.tail(10)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
990,886-18-2897,A,Yangon,Normal,Female,Food and beverages,56.56,5,14.1400,296.9400,3/22/2019,19:06,Credit card,282.80,4.761905,14.1400,4.5
991,602-16-6955,B,Mandalay,Normal,Female,Sports and travel,76.60,10,38.3000,804.3000,1/24/2019,18:10,Ewallet,766.00,4.761905,38.3000,6.0
992,745-74-0715,A,Yangon,Normal,Male,Electronic accessories,58.03,2,5.8030,121.8630,3/10/2019,20:46,Ewallet,116.06,4.761905,5.8030,8.8
993,690-01-6631,B,Mandalay,Normal,Male,Fashion accessories,17.49,10,8.7450,183.6450,2/22/2019,18:35,Ewallet,174.90,4.761905,8.7450,6.6
994,652-49-6720,C,Naypyitaw,Member,Female,Electronic accessories,60.95,1,3.0475,63.9975,2/18/2019,11:40,Ewallet,60.95,4.761905,3.0475,5.9
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [14]:
# tampilkan member yang female 

gb_female = df[df['Gender'] == 'Female']
len(gb_female)
gb_female.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2/24/2019,11:38,Ewallet,735.60,4.761905,36.7800,8.0
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,1/10/2019,17:15,Credit card,72.52,4.761905,3.6260,7.2

In [20]:
# tampilkan jumlah member female dan male [groupby]

df.groupby('Gender')['Branch'].count()

Gender
Female    501
Male      499
Name: Branch, dtype: int64

In [24]:
# Tampilkan Branch dan jumlah customer setiap branch

branch = df[['Branch']]
print(branch)

branch.groupby('Branch')['Branch'].count()

    Branch
0        A
1        C
2        A
3        A
4        A
..     ...
995      C
996      B
997      A
998      A
999      A

[1000 rows x 1 columns]

Branch
A    340
B    332
C    328
Name: Branch, dtype: int64

In [27]:
# Tampilkan kota secara unik

df['City'].unique()

array(['Yangon', 'Naypyitaw', 'Mandalay'], dtype=object)

In [29]:
# Tampilkan jumlah kota yang terdapat cabang supermarket ini

df.groupby('Branch')[['City']].count()

        City
Branch
A        340
B        332
C        328

In [30]:
# Tampilkan jumlah cabang yang dimiliki oleh supermarket ini
df[['Branch']].count()

Branch    1000
dtype: int64

In [35]:
# Tampilkan kota dan setiap kota mempunyai berapa customer

#tampilkan kota 
df['City'].unique()

# tampilkan kota mempunyai berapa cust 
print("setiap kota mempunyai: ")
tes = df.groupby('City')['Customer type'].count()
print(tes)

setiap kota mempunyai:
City
Mandalay     332
Naypyitaw    328
Yangon       340
Name: Customer type, dtype: int64

In [64]:
# Tampilkan kota dan setiap kota mempunyai berapa customer hanya untuk gender female saja

female = df[df['Gender'] == 'Female']
female_count = female.groupby('City').size()

print(female_count)

City
Mandalay     162
Naypyitaw    178
Yangon       161
dtype: int64

In [88]:
# tampilkan kota yang memiliki customer terbanyak 

cust = df.groupby('City')['Invoice ID'].count().reset_index()
cust_max = cust['Invoice ID'].max()

cust[['City']][cust['Invoice ID'] == cust_max]

     City
2  Yangon

In [92]:
# Tampilkan cabang yang mempunyai customer yang terbanyak

cust = df.groupby('Branch')['Invoice ID'].count().reset_index()
cust.head()

cust_max = cust['Invoice ID'].max()

cust[['Branch']][cust['Invoice ID'] == cust_max]

  Branch
0      A

In [135]:
# HELP
# Tampilkan jumlah transaksi setiap bulannya

# convert obj to dt 
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y')

# show available months
df['col bulan baru'] = df['Date'].dt.month
df.head(3)

# show list of months 
lists = df.groupby('col bulan baru')[['Invoice ID']].count()
print(lists)

                Invoice ID
col bulan baru
1                      352
2                      303
3                      345

In [268]:
# 13. Tampilkan jumlah transaksi setiap bulan percabangnya

jml = df.groupby(['col bulan baru', 'Branch'])[['Invoice ID']].count()
print(jml)

                       Invoice ID
col bulan baru Branch
1              A              119
               B              111
               C              122
2              A               94
               B              109
               C              100
3              A              127
               B              112
               C              106

In [272]:
# Tampilkan rata-rata quantity product Health and beauty untuk setiap cabangnya
sort = df[df['Product line'] == 'Health and beauty']
sorted = sort.groupby(['Branch','Product line'])[['Quantity']]
sorted.mean()

                          Quantity
Branch Product line
A      Health and beauty  5.468085
B      Health and beauty  6.037736
C      Health and beauty  5.326923

In [273]:
# Tampilkan ada berapa product Electronik accessories yang harganya lebih besar dari 30
df['Product line'].unique()
sort = df[df['Product line'] == 'Electronic accessories']

# len = dapetin jumlah angka
len(sort[sort['Unit price'] > 30])

123

In [180]:
# 16. Tampilkan rata-rata penilaian rating pada product Food and beverages pada setiap kota dan gender

# sort out fnb genre 
sorted_fnb = df[df['Product line'] == 'Food and beverages'].reset_index()
print(sorted_fnb)

# setiap kota
sorted_fnb.groupby('City')[['Rating']].mean()

# setiap gender
sorted_fnb.groupby('Gender')[['Rating']].mean()

     index   Invoice ID Branch       City Customer type  Gender  \
0        9  692-92-5582      B   Mandalay        Member  Female
1       13  252-56-2699      A     Yangon        Normal    Male
2       18  329-62-1586      A     Yangon        Normal    Male
3       28  145-94-9061      B   Mandalay        Normal  Female
4       34  183-56-6882      C  Naypyitaw        Member  Female
..     ...          ...    ...        ...           ...     ...
169    977  518-71-6847      B   Mandalay        Member    Male
170    979  151-33-7434      B   Mandalay        Normal  Female
171    980  728-47-9078      C  Naypyitaw        Member    Male
172    990  886-18-2897      A     Yangon        Normal  Female
173    997  727-02-1313      A     Yangon        Member    Male

           Product line  Unit price  Quantity   Tax 5%     Total       Date  \
0    Food and beverages       54.84         3   8.2260  172.7460 2019-02-20
1    Food and beverages       43.19        10  21.5950  453.4950 2019-02-07
2    Food and beverages       54.67         3   8.2005  172.2105 2019-01-21
3    Food and beverages       88.36         5  22.0900  463.8900 2019-01-25
4    Food and beverages       99.42         4  19.8840  417.5640 2019-02-06
..                  ...         ...       ...      ...       ...        ...
169  Food and beverages       26.60         6   7.9800  167.5800 2019-02-26
170  Food and beverages       67.77         1   3.3885   71.1585 2019-02-04
171  Food and beverages       59.59         4  11.9180  250.2780 2019-01-19
172  Food and beverages       56.56         5  14.1400  296.9400 2019-03-22
173  Food and beverages       31.84         1   1.5920   33.4320 2019-02-09

      Time      Payment    cogs  gross margin percentage  gross income  \
0    13:27  Credit card  164.52                 4.761905        8.2260
1    16:48      Ewallet  431.90                 4.761905       21.5950
2    18:00  Credit card  164.01                 4.761905        8.2005
3    19:48         Cash  441.80                 4.761905       22.0900
4    10:42      Ewallet  397.68                 4.761905       19.8840
..     ...          ...     ...                      ...           ...
169  15:10      Ewallet  159.60                 4.761905        7.9800
170  20:43  Credit card   67.77                 4.761905        3.3885
171  12:46         Cash  238.36                 4.761905       11.9180
172  19:06  Credit card  282.80                 4.761905       14.1400
173  13:22         Cash   31.84                 4.761905        1.5920

     Rating  col bulan baru
0       5.9               2
1       8.2               2
2       8.6               1
3       9.6               1
4       7.5               2
..      ...             ...
169     4.9               2
170     6.5               2
171     9.8               1
172     4.5               3
173     7.7               2

[174 rows x 19 columns]

          Rating
Gender
Female  7.203333
Male    7.016667

In [189]:
# 17. Tampilkan berapa customer yang suka produk elektronik yang bergender female yang berada di branch B

sort_elec = df[df['Product line'] == 'Electronic accessories']
sort_elec_2 = sort_elec[sort_elec['Gender'] == 'Female']
sort_elec_3 = sort_elec_2[sort_elec_2['Branch'] == 'B']

sort_elec_3.head(100)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,col bulan baru
45,132-32-9879,B,Mandalay,Member,Female,Electronic accessories,93.96,4,18.7920,394.6320,2019-03-09,18:00,Cash,375.84,4.761905,18.7920,9.5,3
201,542-41-0513,B,Mandalay,Member,Female,Electronic accessories,57.49,4,11.4980,241.4580,2019-03-15,11:57,Cash,229.96,4.761905,11.4980,6.6,3
209,817-69-8206,B,Mandalay,Normal,Female,Electronic accessories,99.73,9,44.8785,942.4485,2019-03-02,19:42,Credit card,897.57,4.761905,44.8785,6.5,3
228,466-61-5506,B,Mandalay,Member,Female,Electronic accessories,90.70,6,27.2100,571.4100,2019-02-26,10:52,Cash,544.20,4.761905,27.2100,5.3,2
231,545-46-3100,B,Mandalay,Member,Female,Electronic accessories,10.59,3,1.5885,33.3585,2019-03-12,13:52,Credit card,31.77,4.761905,1.5885,8.7,3
238,346-84-3103,B,Mandalay,Member,Female,Electronic accessories,13.22,5,3.3050,69.4050,2019-03-02,19:26,Cash,66.10,4.761905,3.3050,4.3,3
246,866-05-7563,B,Mandalay,Member,Female,Electronic accessories,81.40,3,12.2100,256.4100,2019-02-09,19:43,Cash,244.20,4.761905,12.2100,4.8,2
304,396-90-2219,B,Mandalay,Normal,Female,Electronic accessories,14.96,8,5.9840,125.6640,2019-02-23,12:29,Cash,119.68,4.761905,5.9840,8.6,2
370,201-86-2184,B,Mandalay,Member,Female,Electronic accessories,26.26,7,9.1910,193.0110,2019-02-02,19:40,Cash,183.82,4.761905,9.1910,9.9,2
379,182-69-8360,B,Mandalay,Normal,Female,Electronic accessories,23.65,4,4.7300,99.3300,2019-01-30,13:32,Credit card,94.60,4.761905,4.7300,4.0,1
450,891-01-7034,B,Mandalay,Normal,Female,Electronic accessories,74.71,6,22.4130,470.6730,2019-01-01,19:07,Cash,448.26,4.761905,22.4130,6.7,1
520,734-91-1155,B,Mandalay,Normal,Female,Electronic accessories,45.71,3,6.8565,143.9865,2019-03-26,10:34,Credit card,137.13,4.761905,6.8565,7.7,3
562,134-54-4720,B,Mandalay,Normal,Female,Electronic accessories,42.42,8,16.9680,356.3280,2019-01-30,13:58,Ewallet,339.36,4.761905,16.9680,5.7,1
680,528-87-5606,B,Mandalay,Member,Female,Electronic accessories,39.48,1,1.9740,41.4540,2019-02-12,19:43,Cash,39.48,4.761905,1.9740,6.5,2
706,834-45-5519,B,Mandalay,Normal,Female,Electronic accessories,43.00,4,8.6000,180.6000,2019-01-31,20:48,Ewallet,172.00,4.761905,8.6000,7.6,1
756,785-96-0615,B,Mandalay,Member,Female,Electronic accessories,35.74,8,14.2960,300.2160,2019-02-17,15:28,Ewallet,285.92,4.761905,14.2960,4.9,2
768,711-31-1234,B,Mandalay,Normal,Female,Electronic accessories,95.64,4,19.1280,401.6880,2019-03-16,18:51,Cash,382.56,4.761905,19.1280,7.9,3
804,831-81-6575,B,Mandalay,Member,Female,Electronic accessories,75.59,9,34.0155,714.3255,2019-02-23,11:12,Cash,680.31,4.761905,34.0155,8.0,2
853,866-70-2814,B,Mandalay,Normal,Female,Electronic accessories,52.79,10,26.3950,554.2950,2019-02-25,11:58,Ewallet,527.90,4.761905,26.3950,10.0,2
872,544-55-9589,B,Mandalay,Member,Female,Electronic accessories,21.43,10,10.7150,225.0150,2019-01-28,11:51,Cash,214.30,4.761905,10.7150,6.2,1
879,761-49-0439,B,Mandalay,Member,Female,Electronic accessories,12.10,8,4.8400,101.6400,2019-01-19,10:17,Ewallet,96.80,4.761905,4.8400,8.6,1
891,114-35-5271,B,Mandalay,Normal,Female,Electronic accessories,57.91,8,23.1640,486.4440,2019-02-07,15:06,Cash,463.28,4.761905,23.1640,8.1,2
919,636-98-3364,B,Mandalay,Member,Female,Electronic accessories,26.26,3,3.9390,82.7190,2019-03-02,12:36,Ewallet,78.78,4.761905,3.9390,6.3,3
925,226-34-0034,B,Mandalay,Normal,Female,Electronic accessories,13.78,4,2.7560,57.8760,2019-01-10,11:10,Ewallet,55.12,4.761905,2.7560,9.0,1
928,431-66-2305,B,Mandalay,Normal,Female,Electronic accessories,88.25,9,39.7125,833.9625,2019-02-15,20:51,Credit card,794.25,4.761905,39.7125,7.6,2
965,172-42-8274,B,Mandalay,Normal,Female,Electronic accessories,38.27,2,3.8270,80.3670,2019-03-02,18:18,Credit card,76.54,4.761905,3.8270,5.8,3
969,214-30-2776,B,Mandalay,Member,Female,Electronic accessories,34.49,5,8.6225,181.0725,2019-03-11,19:44,Credit card,172.45,4.761905,8.6225,9.0,3
978,156-20-0370,B,Mandalay,Normal,Female,Electronic accessories,25.45,1,1.2725,26.7225,2019-03-10,18:10,Credit card,25.45,4.761905,1.2725,5.1,3

In [266]:
# 18. Tampilkan 3 kota yang mementingkan produk kesehatan
df['Product line'].unique()
sort_hnb = df[df['Product line'] == 'Health and beauty']
sort = sort_hnb.groupby(['City', 'Product line'])['Invoice ID'].count().reset_index()

sorted = sort.sort_values(by=['Invoice ID'], ascending=False)
sorted.head(3)

        City       Product line  Invoice ID
0   Mandalay  Health and beauty          53
1  Naypyitaw  Health and beauty          52
2     Yangon  Health and beauty          47

In [226]:
# 19. Tampilkan 3 tipe produk favorite dari cabang A 
sort_a = df[df['Branch'] == 'A']
sort = sort_a.groupby('Product line') [['Invoice ID']].count().reset_index()
sort_final = sort.sort_values(by=['Invoice ID'], ascending=False)
sort_final.head(3)

             Product line  Invoice ID
4      Home and lifestyle          65
0  Electronic accessories          60
5       Sports and travel          59

In [267]:
# 20. Tampilkan cabang dari kota yang sangat tidak peduli produk kesehatan

sorted = sort.sort_values(by=['Invoice ID'], ascending=True)
sorted.head(3)

        City       Product line  Invoice ID
2     Yangon  Health and beauty          47
1  Naypyitaw  Health and beauty          52
0   Mandalay  Health and beauty          53